{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <label for="mail">Mail</label>
    <input name="mail" id="mail" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Login">
    <small><a href=" {{ url_for('auth.reset_password') }}">Forgot password?</a></small>
    <small><a href=" {{ url_for('auth.register') }}">Don't have an account? Sign up right now.</a></small>
  </form>
{% endblock %}