{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="price">Price</label>
    <input name="price" id="price" type="number" min="1" value="{{ request.form['price'] }}" required>
    <label for="style">Body Style</label>
    <select name="style" id="style">
    <option value="{{ styles[0] }}" selected>{{ styles[0] }}</option>
      {% for style in styles[1:] %}
        <option value="{{ style }}">{{ style }}</option>
      {% endfor %}
    </select>
    <label for="make">Make</label>
    <select name="make" id="make">
    <option value="{{ makes[0] }}" selected>{{ makes[0] }}</option>
      {% for make in makes[1:] %}
        <option value="{{ make }}">{{ make }}</option>
      {% endfor %}
    </select>
    <label for="model">Model</label>
    <input name="model" id="model" value="{{ request.form['model'] }}" required>
    <label for="fuel">Fuel type</label>
    <select name="fuel" id="fuel">
    <option value="{{ fuels[0] }}" selected>{{ fuels[0] }}</option>
      {% for fuel in fuels[1:] %}
        <option value="{{ fuel }}">{{ fuel }}</option>
      {% endfor %}
    </select>
    <label for="age">Year of production</label>
    <input name="age" id="age" type="number" min="1885" max="2023" value="{{ request.form['age'] }}" required>
    <label for="mileage">Mileage</label>
    <input name="mileage" id="mileage" type="number" min="0" value="{{ request.form['mileage'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}