{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="price">Price</label>
    <input name="price" id="price" type="number" min="1" value="{{ request.form['price'] }}" required>
    <label for="style">Style</label>
    <input name="style" id="style" value="{{ request.form['style'] }}" required>
    <label for="make">Make</label>
    <input name="make" id="make" value="{{ request.form['make'] }}" required>
    <label for="model">Model</label>
    <input name="model" id="model" value="{{ request.form['model'] }}" required>
    <label for="fuel">Fuel type</label>
    <input name="fuel" id="fuel" value="{{ request.form['fuel'] }}" required>
    <label for="age">Year of production</label>
    <input name="age" id="age" type="number" min="1885" max="2023" value="{{ request.form['age'] }}" required>
    <label for="mileage">Mileage</label>
    <input name="mileage" id="mileage" type="number" min="0" value="{{ request.form['mileage'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}