{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="price">Price</label>
    <input name="price" id="price"
      value="{{ request.form['price'] or post['price'] }}" required>
    <label for="style">Style</label>
    <input name="style" id="style"
      value="{{ request.form['style'] or post['style'] }}" required>
    <label for="make">Make</label>
    <input name="make" id="make"
      value="{{ request.form['make'] or post['make'] }}" required>
    <label for="model">Model</label>
    <input name="model" id="model"
      value="{{ request.form['model'] or post['model'] }}" required>
    <label for="fuel">Fuel type</label>
    <input name="fuel" id="fuel"
      value="{{ request.form['fuel'] or post['fuel'] }}" required>
    <label for="age">Year of production</label>
    <input name="age" id="age"
      value="{{ request.form['age'] or post['age'] }}" required>
    <label for="mileage">Mileage</label>
    <input name="mileage" id="mileage"
      value="{{ request.form['mileage'] or post['mileage'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('carsite.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}