{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="price">Price</label>
    <input name="price" id="price" type="number" min="1"
      value="{{ request.form['price'] or post['price'] }}" required>
    <label for="style">Body Style</label>
    <select name="style" id="style">
    <option value="{{ request.form['style'] or post['style'] }}" selected>{{ request.form['style'] or post['style'] }}</option>
      {% for style in styles[0:] %}
        <option value="{{ style }}">{{ style }}</option>
      {% endfor %}
    </select>
    <label for="make">Make</label>
    <select name="make" id="make">
    <option value="{{ request.form['make'] or post['make'] }}" selected>{{ request.form['make'] or post['make'] }}</option>
      {% for make in makes[0:] %}
        <option value="{{ make }}">{{ make }}</option>
      {% endfor %}
    </select>
    <label for="model">Model</label>
    <input name="model" id="model"
      value="{{ request.form['model'] or post['model'] }}" required>
    <label for="fuel">Fuel type</label>
    <select name="fuel" id="fuel">
    <option value="{{ request.form['fuel'] or post['fuel'] }}" selected>{{ request.form['fuel'] or post['fuel'] }}</option>
      {% for fuel in fuels[0:] %}
        <option value="{{ fuel }}">{{ fuel }}</option>
      {% endfor %}
    </select>
    <label for="age">Year of production</label>
    <input name="age" id="age" type="number" min="1885" max="2023"
      value="{{ request.form['age'] or post['age'] }}" required>
    <label for="mileage">Mileage</label>
    <input name="mileage" id="mileage" type="number" min="0"
      value="{{ request.form['mileage'] or post['mileage'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('carsite.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}