{% extends "base.html" %}
{% block content %}
    {% for car in cars %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ car.car_brand }} {{ car.car_model }}</a>
            </div>
            <p class="article-content">Car body type: {{ car.car_body }}</p>
            <p class="article-content">Mileage at: {{ car.mileage }} km</p>
            <p class="article-content">Price is {{ car.price }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
